* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    body {
        font-family: Helvetica, Georgia, "Times New Roman";
        font-size: 16px;
    }

    .about-us-container {
        width: 100%;
        margin: 150px auto 0 auto;
    }

    .about-us-container h1 {
        font-size: 18px;
    }

    #main-section {
        width: 100%;
        margin: auto;
    }